

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="" class="nav-link">
                Networker App
              </a>
            </li>
            <li>
            <div class="text-center">
                <a href="" id="newnote" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#addnotes">New Note</a>
              </div>
              <!-- NOTE POPUP -->
              <div class="modal fade" id="addnotes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-notify modal-warning" role="document">
                <!--Content-->
                <div class="modal-content">
                  <!--Header-->
                  <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">New Note</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                  </div>
            
                  <!--Body-->
                  <div class="modal-body">
                    <div class="md-form mb-5">
                      <i class="fa-lightbulb-o prefix grey-text"></i>
                      <textarea type="text" id="form3" class="form-control validate"></textarea>
                      <label data-error="wrong" data-success="right" for="form2">Your Note</label>
                    </div>
            
                    <div class="md-form">
                      <i class="fas user prefix grey-text"></i>
                      <input type="email" id="form2" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="form2">Person of Interest</label>
                    </div>
                  </div>
            
                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                    <a type="button" id="submit-note-btn" class="btn btn-outline-warning waves-effect">Submit</a>
                  </div>
                </div>
                <!--/.Content-->
              </div>
            </div>
            
            <!-- END NOTEEE -->    
            </li>
          </ul>
          <div class="copyright">
            &copy; <a target="_blank" rel="sponsored noopener noreferrer" 
                      href="https://github.com/apiispanen">Networker</a> 
            - coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">Drew Piispanen</a>
          </div>
        </div>
      </footer>
      
