{% if current_user.is_authenticated %}
<div id="prompt-response">
  <div id="prompt" >
  <textarea name=""></textarea>
</div>
<div id="response">
  <textarea name="" ></textarea>
</div>
</div>
{% endif %}
      
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="" class="nav-link">
                Networker App
              </a>
            </li>
            <li>
              <!-- Note and Help Buttons -->
            <div class="text-center" style="display:inline-block">
                <a href="" id="newnote" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#addnotes">New Note</a>
              </div>
              <div class="text-center" style="display:inline-block">
                <a href="" id="newperson" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#addperson">New Person</a>
              </div>
              {% include 'cards/note.html' %}
              {% include 'cards/person.html' %}
              <div class="text-center" style="display:inline-block">
                <a href="" id="newhelp" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#addhelp">Help</a>
              </div>
              {% include 'cards/help.html' %}
              <!-- End note and help -->
            </li>
          </ul>
          <div class="copyright">
            &copy; <a target="_blank" rel="sponsored noopener noreferrer" 
                      href="https://github.com/apiispanen">Networker</a> 
            - coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">Drew Piispanen</a>
          </div>
        </div>
      </footer>
