
  <!--   Core JS Files   -->
  <script src="/static/assets/js/core/jquery.min.js"></script>
  <script src="/static/assets/js/core/popper.min.js"></script>
  <script src="/static/assets/js/core/bootstrap.min.js"></script>
  <script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <!-- <script src="/static/assets/js/black-dashboard.min.js?v=1.0.0"></script> Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="/static/assets/demo/demo.js"></script>
  
  <!-- DREW ADDED -->
  <script type="text/javascript" src="https://speechly.github.io/browser-ui/v2/push-to-talk-button.js"></script>
  <script type="text/javascript" src="https://speechly.github.io/browser-ui/v2/big-transcript.js"></script>
  
  <!--Start of Tawk.to Script-->
  <script type="text/javascript"> var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date(); (function(){var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];s1.async=true;  s1.src='https://embed.tawk.to/640961ec31ebfa0fe7f1807c/1gr2ad0o2';s1.charset='UTF-8';  s1.setAttribute('crossorigin','*'); s0.parentNode.insertBefore(s1,s0);})(); </script>
  <!--End of Tawk.to Script-->

  <script src="/static/assets/js/speeches.js"></script>  
  <script src="/static/assets/js/prompts.js"></script>  
  <script src="/static/assets/js/networker.js"></script>  
 
  <!-- <script src="/static/assets/js/prompts.js"></script>   -->

  
  <!-- <script src="{{url_for('static', filename='speech.js')}}"></script> -->
