

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a rel="sponsored noopener noreferrer" 
             href="/demo.html" class="simple-text logo-mini">
            NW
          </a>
          <a rel="sponsored noopener noreferrer" 
             href="/voice.html" class="simple-text logo-normal">
            Networker Demo
          </a>
        </div>

        <ul class="nav">
        {% if current_user.is_authenticated %}
        <li class="{% if 'tables' in segment %} active {% endif %}">
          <a href="/people">
            <i class="tim-icons icon-badge"></i>
            <p>People</p>
          </a>
        </li>
        <li class="{% if 'notes' in segment %} active {% endif %}">
          <a href="/notes">
            <i class="tim-icons icon-notes"></i>
            <p>Notes</p>
          </a>
        </li>
        <li class="{% if 'prompts' in segment %} active {% endif %}">
          <a href="/prompts">
            <i class="tim-icons icon-bullet-list-67"></i>
            <p>Prompts</p>
          </a>
        </li>
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Index</p>
            </a>
          </li>
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('authentication_blueprint.logout') }}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Logout</p>
            </a>
          </li>
          {% else %}
          <li class="active">
            <a href="/login">
              <i class="tim-icons icon-double-right"></i>
              <p>Login</p>
            </a>
          </li>   
          
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
