 <!-- EDIT POPUP -->
 <div class="modal fade" id="edituser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-notify modal-warning" role="document">
   <!--Content-->
   <div class="modal-content">
     <!--Header-->
     <div class="modal-header text-center">
       <h4 class="modal-title white-text w-100 font-weight-bold py-2">Edit User</h4>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true" class="white-text">&times;</span>
       </button>
     </div>

     <!--Body-->
     <div class="modal-body">
       <div class="md-form mb-5">
         <i class="fas fa-user prefix grey-text"></i>
         <textarea type="text" id="userform3" class="form-control validate"></textarea>
         <label data-error="wrong" data-success="right" for="userform2">Info</label>
       </div>

       <div class="md-form">
        <i class="tim-icons icon-paper"></i>
         <input type="email" id="userform2" class="form-control validate">
         <label data-error="wrong" data-success="right" for="userform2">Full Name</label>
       </div>
     </div>

     <!--Footer-->
     <div class="modal-footer justify-content-center">
       <a type="button" class="btn btn-outline-warning waves-effect">Submit</a>
     </div>
   </div>
   <!--/.Content-->
 </div>
</div>

<!-- END User Update -->