
              <!-- NOTE POPUP -->
              <div class="modal fade" id="addnotes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-notify modal-warning" role="document">
                <!--Content-->
                <div class="modal-content">
                  <!--Header-->
                  <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">New Note</h4>
                    <p class="tiny">If speaking, mention any person of interest & say "Submit" when completed.</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                  </div>
            
                  <!--Body-->
                      <textarea type="text" id="form3" class="form-control validate"></textarea>
                      <label data-error="wrong" data-success="right" for="form2">Your Note</label>
    
            
                    <div class="md-form" style="display:none">
                      <i class="fas user prefix grey-text"></i>
                      <input type="email" id="form2" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="form2">Person of Interest</label>
                    </div>
            
                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                    <a type="button" id="submit-note-btn" class="btn btn-outline-warning waves-effect">Submit</a>
                  </div>
                </div>
                <!--/.Content-->
              </div>
            </div>
            
            <!-- END NOTEEE -->   