
              <!-- NOTE POPUP -->
              <div class="modal fade" id="addperson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-notify modal-warning" role="document">
                <!--Content-->
                <div class="modal-content">
                  <!--Header-->
                  <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">New Person</h4>
                    <p class="tiny">If speaking, give as many details you can give about the individual & say "Submit" when completed.</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                  </div>
                  
                  <div class="md-form">
                    <textarea id="personform2" class="form-control validate small"></textarea>
                    <label data-error="wrong" data-success="right" for="personform2">Person's Name</label>
                  </div>
            
 
                      <i class="fa-lightbulb-o prefix grey-text"></i>
                      <textarea type="text" id="personform3" class="form-control validate"></textarea>
                      <label data-error="wrong" data-success="right" for="personform2">Person's Info</label>
         
            
                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                    <a type="button" id="submit-person-btn" class="btn btn-outline-warning waves-effect">Submit</a>
                  </div>
                </div>
                <!--/.Content-->
              </div>
            </div>
            
            <!-- END NOTEEE -->   