{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<head>
  <meta charset="utf-8" />
  <title>Networker (Alpha)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script type="text/javascript" src="https://speechly.github.io/browser-ui/v2/push-to-talk-button.js"></script>
  <script type="text/javascript" src="https://speechly.github.io/browser-ui/v2/big-transcript.js"></script>
  <link rel="stylesheet" href="../static/style.css">
  <!-- <script src="https://unpkg.com/@grammarly/editor-sdk?clientId=client_LPkx8nDFo6k1yYnvLRcj5m"></script> -->
  <link rel="shortcut icon" href="">
  <script src="{{url_for('static', filename='speech.js')}}"></script>
  <!-- <script src="{{url_for('static', filename='style.css')}}"></script> -->
</head>
<div class="row">
  
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Notes for user: {{user_id}}</h4>
        <div class="dropdown">
          <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown" aria-expanded="false">
            <i class="tim-icons icon-settings-gear-63"></i></button>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; transform: translate3d(-123px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" href="#pablo">Info</a>
            <a class="dropdown-item" href="#pablo">Update</a>
            <a class="dropdown-item" href="#pablo">Search</a>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="table-responsive">
              
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                Note
                </th>
                <th>
                Person of Interest
                </th>
                <th>timestamp</th>
              </thead>
              </tr>
              <tr>All logged activity for user will be displayed</tr>
              {% for prompt in prompts %}
             
              <tr>
                <td value="{{prompt['_id']}}">{{prompt["prompt"]}}</td> <td>{{prompt["response"]}}</td><td>{{prompt["timestamp"]}}</td>
              </tr>
              {% endfor %}
           

            </tbody>
                
     
      </table>
    </div>
      </div>
    </div>
  </div>

</div>
<div class="PushToTalkContainer">
  <!-- Drew's APP ID -->

  <push-to-talk-button
  appid="29d3a734-0f17-4929-bf4f-15c5972b8454"
  placement="bottom"
  hide="false"
  capturekey=" "
  intro="Push to talk"
  size="80px" >
</push-to-talk-button>

<!-- <push-to-talk-button appid="29d3a734-0f17-4929-bf4f-15c5972b8454" capturekey=" " placement="top"> </push-to-talk-button>     -->
<!-- Default APP ID -->

  <!-- <push-to-talk-button appid="f2e6e9f3-0174-46c2-8723-abdf85fbeb3a" capturekey=" "/> -->
</div>

<div class="BigTranscriptContainer">
<big-transcript></big-transcript>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
