


{% extends "layouts/base.html" %}


{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<!-- Push to talk button: Make it so that when the entity is selected 
  (NOT AFTER SPEECH COMPLETE), the person's profile will come up and we can edit the 
  relevant info -->




<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">

        <h4 class="card-title"> People</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
              
          <table class="table tablesorter " id="people">
            <thead class=" text-primary">
              {% set it = data['People'].__iter__() %}
              {% set next = it.__next__() %}
              <tr>
                <th>Name</th>
                
              </tr>
            </thead>
 
              {% for name, person in data['People'].items() %}
              <div >
              <tr>
                <td class="name" contenteditable>{{ name }}</td>
                <td class="more">View More</td>
                

                {% for field, value in person.items() %}
           
                <td class="expand" name="{{name}}" style="display: none;" contenteditable>
                
                  {% if (value, list) %} 
                  {{field}} : {{value}}{{list}}
                  {% else %}
                  {{ value }}
                  {% endif %}
                </td>
                {% endfor %}
                <!-- <td class="expand" style="display: none;" contenteditable></td>  -->
                <td class="expand" style="display: none;"><a href="/notes?s={{ name }}">View Notes</a> | <a href="" class="usereditbutton" data-toggle="modal" data-target="#edituser">Edit User</a></td>
                
              </tr>
            </div>
          {% endfor %}  {# Add this line to close the inner for loop #}
           
            </tbody>
                
     
      </table>
    </div>
      </div>
    </div>

  </div>

</div>
<intro-popup>
  <span slot="priming-body">You'll be able to control this web app faster with voice.</span>
</intro-popup>
              

            <!-- EDIT POPUP -->
            <div class="modal fade" id="edituser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-notify modal-warning" role="document">
              <!--Content-->
              <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                  <h4 class="modal-title white-text w-100 font-weight-bold py-2">Edit User</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                  </button>
                </div>
          
                <!--Body-->
                <div class="modal-body">
                  <div class="md-form mb-5">
                    <i class="fas fa-user prefix grey-text"></i>
                    <textarea type="text" id="userform3" class="form-control validate"></textarea>
                    <label data-error="wrong" data-success="right" for="form2">Name</label>
                  </div>
          
                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="form2" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="userform2">Person of Interest</label>
                  </div>
                </div>
          
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                  <a type="button" class="btn btn-outline-warning waves-effect">Submit</a>
                </div>
              </div>
              <!--/.Content-->
            </div>
          </div>
          
          <!-- END User Update -->



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}


