{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Prompts for user: {{user_id}}</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
              
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Prompt
                </th>
                <th>
                  Reponse
                </th>
                <th>timestamp</th>
              </thead>
              </tr>
              <tr>All logged activity for user will be displayed</tr>
              {% for prompt in prompts %}
             
              <tr>
                <td>{{prompt["prompt"]}}</td> <td>{{prompt["response"]}}</td><td>{{prompt["timestamp"]}}</td>
              </tr>
              {% endfor %}
           

            </tbody>
                
     
      </table>
    </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
