<head>
  <meta charset="utf-8" />
  <title>Networker (Alpha)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script type="text/javascript" src="https://speechly.github.io/browser-ui/v2/push-to-talk-button.js"></script>
  <script type="text/javascript" src="https://speechly.github.io/browser-ui/v2/big-transcript.js"></script>
  <link rel="stylesheet" href="../static/style.css">
  <!-- <script src="https://unpkg.com/@grammarly/editor-sdk?clientId=client_LPkx8nDFo6k1yYnvLRcj5m"></script> -->
  <link rel="shortcut icon" href="">
  <script src="{{url_for('static', filename='speech.js')}}"></script>


  <link rel="stylesheet" href="https://speechly.github.io/browser-ui/v2/speechly-ui.css">
  <!-- <script src="{{url_for('static', filename='style.css')}}"></script> -->
</head>

{% extends "layouts/base.html" %}



{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> People</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
              
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              {% set it = data['People'].__iter__() %}
              {% set next = it.__next__() %}
              <tr>
                <th>Name</th>
                
                <!-- {% for field in data['People'][next] %}
                <th>{{ field }}</th>
                {% endfor %} -->
              </tr>
            </thead>
 
              
              {% for name, person in data['People'].items() %}
              <div >
              <tr>
                <td>{{ name }}</td><td class="more">View More</td>
                


                {% for field, value in person.items() %}
           
                <td class="expand" style="display: none;">
                
                  {% if (value, list) %} 
                  {{field}} : {{value}}{{list}}
                  {% else %}
                  {{ value }}
                  {% endif %}
                </td>
                {% endfor %} 
                
              </tr>
            </div>
          {% endfor %}  {# Add this line to close the inner for loop #}
           
            </tbody>
                
     
      </table>
    </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
